*{
    padding:0;
    box-sizing: border-box;
    margin: 0;
}
/* Page styling */
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(157, 181, 232);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    margin-bottom: 20px;
    color: hsl(0, 0%, 0%);
}:h

#value{
    font-size: 50px;
}
button{
    padding:8px 15px ;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: aquamarine;
}